<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @chat.message %>
</p>

<p>
  <b>Receiver:</b>
  <%= @chat.receiver %>
</p>


<%= link_to 'Edit', edit_chat_path(@chat) %> |
<%= link_to 'Back', chats_path %>
