
<script type="text/javascript">
  Globals.room_id = '<%= @room.id.to_s %>'
  $(function() {

//    alert('start gameplay');
//    window.router = new Battleship.Routers.RoomsRouter({rooms: <%= @rooms.to_json.html_safe -%>});

    // Force @room.id to be a string so that 'to_sym' is valid in case it is a number
    window.router = new Battleship.Routers.GameplaysRouter({room_id: '<%= @room.id.to_s %>',
                                                          current_user: <%= current_user.to_json.html_safe %>,
                                                          user_status: '<%= @room.user_status(current_user) %>'
                                                           });
    Backbone.history.start();

  });
</script>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <div id="DeployPanelView">
      </div>
      <!-- Show deployment if the status is not deployed-->
      <% if @room.user_status(current_user) != 'deployed' %>


        <div id="otherGrid" class="hide">
          <h2>Other Grids</h2>
          <div id="gamePlayCanvas" width="300" height="300"></div>
          <span>
          Target User (<span id="targetedUser" data-userid="<%= @room.users[0].id %>"><%= @room.users[0].name %></span> )
          </span>
        </div>
      <% else %>
        <div id="otherGrid" class="hide">
          <h2>Other Grids</h2>
          <div id="gamePlayCanvas" width="300" height="300"></div>
          <span>
          Target User (<span id="targetedUser" data-userid="<%= @room.users[0].id %>"><%= @room.users[0].name %></span> )
          </span>
        </div>
      <% end %>
    </div>

    <div class="span3">
      <!--Chat content-->
      <%= render 'chat' %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <!--Ships-->
      <h2>Ship</h2>
      <div id="GridListPanelView"></div>
      <div id="ownGridCanvas"></div>
    </div>
    <div class="span4">
      <!--Status-->
      <h2>Status</h2>
      <div id="fireTarget" class="btn btn-danger">Fire</div>
      <div id="debugMessage"></div>
    </div>
    <div class="span4">
      <!--Players-->
      <h2>Players</h2>
      <div id="UserListPanelView"></div>
    </div>
  </div>
</div>